<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <p class="font-weight-bold m-0">ジャンル検索</p>
      <table>
        <% @genres.each do |genre| %>
         <tr>
           <th><%= link_to genre.name %></th>
         </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex">
            <h2 class="font-weight-bold">商品一覧</h2>
            <p class="m-0 text-center pt-2">(全<%= @products_count %>件)</p>
          </div>
        </div>

        <div class="row">
          <% @products.each do |product| %>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="card mb-3">
                <%= link_to product_path(product) do %>
                  <%= image_tag product.get_product_image(180,100), class: "img-fluid"%>
                <% end %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= product.name %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-yen-sign"></i> <%= product.price %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



 <%= paginate @products %>
