<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <p class="font-weight-bold m-0">ジャンル検索</p>
      <table>
        <% @genres.each do |genre| %>
         <tr>
           <th><%= link_to genre.name %></th>
         </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-9">
      <div class="d-flex align-items-center">
        <h2 class="font-weight-bold">商品一覧</h2>
        <p class="m-0">(全<%= @products_count %>件)</p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="product card-effect">
            <% @products.each do |product| %>
              <div class="product-image">
                <%= link_to(product) do %>
                  <%= image_tag product.get_product_image(300,100) %>
                <% end %>
              </div>
              <div class="product-name font-weight-bold">
                <%= product.name %>
              </div>
              <div class="product-price font-weight-bold">
                <%= product.price %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <%= paginate @products %>
