<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ジャンル検索</h3>
      <table>
        <% @genres.each do |genre| %>
         <tr>
           <th><%= link_to genre.name %></th>
         </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-9">
      <h1>商品一覧（全<%= @products_count %>件）</h1>
      <table>
        <tbody>
          <% @products.each do |product| %>
           <tr>
             <td>
               <%= link_to(product) do %>
               <%= image_tag product.product_image %>
               <% end %>
             </td>
           </tr>
           <tr>
             <td><%= product.name %></td>
           </tr>
           <tr>
             <td>￥<%= product.price %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


 <%= paginate @products %>
