<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ジャンル検索</h3>
      <table>
        <% @genres.each do |genre| %>
         <tr>
           <td><%= link_to genre.name %></td>
         </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-4">
      <%= image_tag @product.get_product_image(500,300) %>
    </div>

    <div class="col-md-5">
      <%= form_with model: @cart_product, url: cart_products_path, method: :post do |f| %>
      <table>
        <tr>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td><%= @product.text %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
           <td>￥<%= @product.sum_of_order_price %>（税込）</td>
        </tr>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <tr>
          <td><%= f.select :quantity , *[1..10], { include_blank: "個数選択" } %></td>
          <td>
            <%= f.submit "カートに入れる" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
