<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ジャンル検索</h3>
      <table>
        <% @genres.each do |genre| %>
         <tr>
           <td><%= link_to genre.name %></td>
         </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-4">
      <%= image_tag @product.product_image %>
    </div>

    <div class="col-md-5">
      <table>
        <tr>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td><%= @product.text %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
           <td>￥<%= @product.sum_of_order_price %>（税込）</td>
        </tr>
          <%= form_with model: @cart_product do |f| %>
        <tr>
          <td><%= select("post", "quantity", [1,2,3,4,5,6,7,8,9,10], { include_blank: "個数選択" }) %></td>
          <td><%= f.submit "カートに入れる" %></td>
        </tr>
      </table>
          <%= f.hidden_field :product_id, :value => @product_id %>
          <% end %>

    </div>
  </div>
</div>