<h1><%= @member.last_name %><%= @member.first_name %>さんの会員情報編集</h1>

<%= form_with model:@member, url: admin_member_path(@member.id), method: :patch do |f| %>
<table>
<tr>
 <th>会員ID</th>
 <td><%= @member.id %></td>my
</tr>
<%= render "public/members/member-info", f: f %>
<tr>
  <th>会員ステータス</th>
  <td>
    <%= f.radio_button :is_deleted, false %>
    <%= f.label :is_deleted, "有効", value: false %>
    <%= f.radio_button :is_deleted, true %>
    <%= f.label :is_deleted, "退会", value: true %>
  </td>
</tr>
</table>
<%= f.submit "変更を保存" %>

<% end %>