<div class="container">
  <div class="w-50 d-flex align-items-center justify-content-center my-5 ml-5">
    <h2 class="font-weight-bold"><%= @member.last_name %><%= @member.first_name %>さんの会員詳細</span>
  </div>
  <div class="row">
    <div class="col-sm-11 offset-md-1">
      <table class="table table-borderless">
        <tr>
         <th scope="col" style="width: 20%">会員ID</th>
         <td scope="col" style="width: 80%"><%= @member.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @member.last_name %> <%= @member.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @member.last_name_kana %> <%= @member.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @member.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @member.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @member.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @member.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @member.is_deleted == false %>
              <strong class="text-success">有効</strong>
              <% elsif @member.is_deleted == true %>
              <strong class="text-danger">退会</strong>
            <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= link_to edit_admin_member_path(@member), class: "btn bgleft mr-5" do %>
              <span>
                <i class="fas fa-cog"></i> 編集する
              </span>
            <% end %>
            <%= link_to admin_root_path, class: "btn bgleft" do %>
              <span>
                <i class="far fa-eye"></i> 注文履歴一覧
              </span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>