<div id="tall">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
    </div>
    <div class="top-text text-center">
      <p class="mt-3">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-2 d-flex justify-content-center mb-3">
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle shadow-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ジャンル検索
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% @genres.each do |genre| %>
            <button class="dropdown-item text-dark" type="button">
              <%= link_to genre.name, products_path, class: "text-dark" %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>新着商品</h2>
          </div>
        </div>

　　　　<div class="row d-flex flex-wrap">
          <% @products.each do |product| %>
            <div class="col-lg-4 col-sm-6 mb-5">
              <div class="product-image-text card-effect mx-auto text-center">
                <div class="product-image-box">
                  <%= link_to product_path(product) do %>
                    <%= image_tag product.product_image, class: "product-image" %>
                  <% end %>
                </div>
                <div class="product-name my-2">
                  <p class="badge badge-secondary">New</p>
                  <%= product.name %>
                </div>
                <div class="product-price">
                  <label>¥</label>
                  <%= product.price %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="link-text text-right">
        <%= link_to products_path, class: "btn bgleft btn-sm shadow-sm" do %>
          <span>全ての商品を見る></span>
        <% end %>
      </div>
    </div>
  </div>
</div>


