<div id="tall">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
    </div>
</div>

<div class="p-3 mb-2 bg-light">
<div class="container">
  <div class="row">
    <div class="genre-search col-3">
      <ul class="list-group">
       <li class="list-group-item active" aria-current="true">
      ジャンル検索</li>
      <% @genres.each do |genre| %>
      <li class="list-group-item">
        <%= link_to genre.name %></li>
      <% end %>
      </ul>
    </div>

    <div class="top-image-text col-9 text-center">
      <div class="top-image">
      <div class="p-3 mb-2 bg-secondary text-white">
      <h2>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </h2></div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-8 text-center">
    <h2>新着商品</h2>
    </div>
  </div>
  </div>

 <div class="container">
   <div class="row justify-content-center">
        <% @products.each do |product| %>
        <div class="card" style="margin-right:15px;">
          <div class="card-body" style="background-color:#EEEEEE;">
          <%= link_to product_path(product) do %>
            <%= image_tag product.get_product_image(300,100) %>
            <div class="product-name ml-2">
            <%= product.name %></div>
            <div class="product-price mb-2 ml-2">
            ¥<%= product.price %></div>
          <% end %>
          </div>
        </div>
        <% end %>
   </div>
 </div>

    <div class="link-text text-right">
    <%= link_to products_path, class: "btn bgleft btn-sm shadow-sm" do %>
      <span>全ての商品を見る></span>
    <% end %>
    </div>

</div>
</div>

