<div class="container">
  <div class="p-3 mb-2">
  <h2 class="py-3 font-weight-bold">注文履歴詳細</h2>
     <%= render 'admin/orders/status' ,order: @order %>

    <div class="row">
      <div class="col-8 align-self-start">
      <table class="table table-bordered">
        <tr>
        　<th class="font-weight-bold table-secondary">商品名</th>
        　<th class="font-weight-bold table-secondary">単価(税込)</th>
        　<th class="font-weight-bold table-secondary">数量</th>
        　<th class="font-weight-bold table-secondary">小計</th>
        　<th class="font-weight-bold table-secondary">製作ステータス</th>
        </tr>
      <tbody class="p-3 mb-2">
      <% @order_products.each do |order_product| %>
      <tr>
        <td><%= order_product.product.name %></td>
        <td><%= order_product.product.sum_of_order_price %>円</td>
        <td><%= order_product.quantity %>個</td>
        <td><%= order_product.quantity_price %>円</td>
        <td>
            <%= form_with model:[@order,order_product],url:admin_order_order_product_path(@order,order_product),remote: :true do |f| %>
              <%= f.select :product_status, OrderProduct.product_statuses.keys.map {|k| [I18n.t("enums.order_product.product_status.#{k}"), k]} %>
              <%= button_tag(type: "submit", class: "btn bgleft btn-sm shadow-sm ml-2") do %>
                <span>
                  <i class="fas fa-cog"></i> 更新
                </span>
              <% end %>
            <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
      </table>
      </div>

      <div class="col-3 align-self-end">
      <table class="table table-bordered ">
        <tr>
          <th class="font-weight-bold table-secondary">商品合計</th>
          <td><%= @order.sum_of_order_price %>円</td>
        </tr>
        <tr>
         <th class="font-weight-bold table-secondary">配送料</td>
         <td><%= @order.shipping %>円</td>
      </tr>
      <tr>
         <th class="font-weight-bold table-secondary">ご請求額</th>
         <th><%= @order.billing_amount %>円</th>
      </tr>
      </table>
      </div>
    </div>
  </div>
</div>