<div class="container">

  <div class="w-25 d-flex align-items-center justify-content-center mt-5 mb-4 ml-5", style=" background-color: #eee; height: 35px;">
    <span class="font-weight-bold h6">マイページ</span>
  </div>

  <div style=" width: 600px;">
    <table class="table table-borderless">
      <tr>
        <td scope="col" style="width: 20%"><span class="font-weight-bold h6">登録情報</span></td>
        <td scope="col" style="width: 80%">
          <%= link_to members_my_page_edit_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
            <span>編集する</span>
          <% end %>
        </td>
      </tr>
    </table>

    <table class="table table-bordered">
      <tr>
        <td scope="col" style="width: 30%" class="bg-light">氏名</td>
        <td scope="col" style="width: 70%"><%= current_member.last_name %> <%= current_member.first_name %></td>
      </tr>
      <tr>
        <td class="bg-light">カナ</td>
        <td><%= current_member.last_name_kana %> <%= current_member.first_name_kana %></td>
      </tr>
      <tr>
        <td class="bg-light">郵便番号</td>
        <td><%= current_member.postal_code %></td>
      </tr>
      <tr>
        <td class="bg-light">住所</td>
        <td><%= current_member.address %></td>
      </tr>
      <tr>
        <td class="bg-light">電話番号</td>
        <td><%= current_member.phone_number %></td>
      </tr>
      <tr>
        <td class="bg-light">メールアドレス</td>
        <td><%= current_member.email %></td>
      </tr>
    </table>

  <div class="mt-4">
    <table class="table table-borderless">
      <tr>
        <td scope="col" style="width: 20%"><span class="font-weight-bold h6">配送先</span></td>
        <td scope="col" style="width: 80%">
          <%= link_to delivery_addresses_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
            <span>一覧を見る</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td scope="col" style="width: 20%"><span class="font-weight-bold h6">注文履歴</span></td>
        <td scope="col" style="width: 80%">
          <%= link_to orders_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
            <span>一覧を見る</span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

</div>