<div class = "container">
  <div class = "row">
    <div class = "col-3 offset-1 mt-5">
      <h4 class = "w-auto h-75 p-2 text-center">ジャンル一覧・追加</h4>
    </div>
  </div>



<%= form_with model:@genre, url:admin_genres_path do |f| %>
<%= render 'layouts/error', obj: @genre %>
  <div class = "row mt-5">
    <div class = "col-2">
      <%= f.label :name, "ジャンル名" %>
    </div>
    <div class = "col-4">
      <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control" %>
    </div>
    <div class = "col-2">
      <%= button_tag(type: "submit", class: "btn bgleft btn-sm shadow-sm ml-2") do %>
        <span>
         追加
        </span>
      <% end %>
    </div>
  </div>
<% end %>

  <div class = "row my-5">
    <table class = "col-4">
      <thead class = "w-75 p-2 text-center border-top border-bottom" style="background-color: #eee;">
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td class = "text-left"><%= genre.name %></td>
            <td class = "text-right">
              <%= link_to edit_admin_genre_path(genre.id), class: "btn bgleft btn-sm px-4 mb-2" do %>
                <span><i class="fas fa-cog"></i> 編集</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>