<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="pt-5">配送先登録 / 一覧</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5 offset-md-1">
      <%= form_with model: @delivery_address, url: delivery_addresses_path, method: :post do |f| %>
      <%= render "layouts/error", obj: @delivery_address %>
        <div class="form-group row">
          <div class="col-md-4">
            <label class="col-form-label">郵便番号<br>(ハイフンなし)</label>
          </div>
          <div class="col-md-8 my-auto">
            <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 my-auto">
            <%= f.label :address, "住所", class: "m-0" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :address, placeholder: "東京都渋谷区代々木東京都渋谷区代々木神園町0-0", class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 my-auto">
            <%= f.label :shipping_name, "宛名", class: "m-0"%>
          </div>
          <div class="col-md-8">
            <%= f.text_field :shipping_name, placeholder: "令和道子", class: "form-control" %>
          </div>
        </div>
        <div class="row mx-auto justify-content-center">
          <div class="col-md-7">
            <%= button_tag(type: "submit", class: "btn bgleft shadow-sm ml-2") do %>
              <span>新規登録</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8 offset-md-4">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @delivery_addresses.each do |delivery_address| %>
          <tr>
            <td><%= delivery_address.postal_code %></td>
            <td><%= delivery_address.address %></td>
            <td><%= delivery_address.shipping_name %></td>
            <td class="d-flex justify-content-center">
              <%= link_to edit_delivery_address_path(delivery_address), class: "btn bgleft mr-2 shadow-sm" do %>
                <span><i class="fas fa-cog"></i> 編集</span>
              <% end %>
              <%= link_to delivery_address_path(delivery_address),method: :delete, class: "btn bgleft shadow-sm", data: { confirm: '本当に削除しますか？' } do %>
                <span><i class="fas fa-trash-alt"></i> 削除</span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>












