<div class="container">

  <h2>配送先登録 / 一覧</h2>

  <%= form_with model: @delivery_address, url: delivery_addresses_path, method: :post do |f| %>
  <%= render "layouts/error", obj: @delivery_address %>

    <div>
     <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
     <%= f.text_field :postal_code, placeholder: "0000000" %>
    </div>

    <div>
     <%= f.label :address, "住所" %>
     <%= f.text_field :address, placeholder: "東京都渋谷区代々木東京都渋谷区代々木神園町0-0" %>
    </div>

    <div>
     <%= f.label :shipping_name, "宛名" %>
     <%= f.text_field :shipping_name, placeholder: "令和道子" %>
    </div>

    <%= f.submit "新規登録", class: "btn btn-success" %>

  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @delivery_addresses.each do |delivery_address| %>
      <tr>
        <td><%= delivery_address.postal_code %></td>
        <td><%= delivery_address.address %></td>
        <td><%= delivery_address.shipping_name %></td>
        <td>
          <%= link_to "編集する", edit_delivery_address_path(delivery_address), class: "btn btn-success" %>
          <%= link_to "削除する", delivery_address_path(delivery_address),method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>