<div class="container">
  <h2>商品編集</h2>
  <%= form_with model: [:admin, @product], local:true do |f| %>
  <div class="form-group">
    <%= f.label :image, "商品画像" %></br>
    <%= f.file_field :product_image, accept: 'image/*' %>
  </div>
  <div class="form-group">
    <%= f.label :name, "商品名" %></br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :text, "商品説明" %></br>
    <%= f.text_area :text %>
  </div>
  <div class="form-group">
    <%= f.label :genre, "ジャンル" %></br>
    <%= f.collection_select(:genre_id, @genres, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :price, "税抜価格" %></br>
    <%= f.text_field :price %>円
  </div>
  <div class="form-group">
    <%= f.label :sales_status, "販売ステータス" %></br>
    <%= f.radio_button :sales_status, true %>
    <%= f.label :sales_status, "販売中", value: true %>
    <%= f.radio_button :sales_status, false %>
    <%= f.label :sales_status, "販売停止中", value: false %>
  </div>
  <div class="form-group">
    <%= f.submit "変更を保存" %>
  </div>

  <% end %>
</div>