<div class = "container">
  <%= render 'layouts/error', obj: @order %>
  <div class = "row">
    <div class = "col-3 offset-1 mt-5">
      <h4 class = "w-auto h-75 p-2 text-center" style="background-color: #eee;">注文情報入力</h4>
    </div>
  </div>
<%= form_with model: @order, local:true, url: orders_confirm_path do |f| %>
  <div class = "row">
    <div class = "col mt-3">
      <h5><strong>支払方法</strong></h5>
      <div class="form-group ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %></br>
        <%= f.radio_button :payment_method,  Order.payment_methods.key(1) %>
        <%= f.label :payment_method,  Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <h5><strong>お届け先</strong></h5>
      <div class="form-group ml-5">
        <div>
          <%= f.radio_button :select_address, 1, checked: true %>
          <%= f.label :select_address,"ご自身の住所" %></br>
          <span class = "ml-4">〒<%= current_member.postal_code %> <%= current_member.address %></span></br>
          <div class = "ml-4">
            <%= current_member.last_name %><%= current_member.first_name %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-12 form-group ml-5 mt-2">
      <%= f.radio_button :select_address, 2 %>
      <%= f.label :select_address,  "登録済住所から選択" %></br>
      <div class = "col-8 ml-4 form-select">
        <%= f.select :address_id, options_from_collection_for_select(@delivery_addresses, :id, :address_display) %>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col ml-5 mt-2">
      <%= f.radio_button :select_address, 3 %>
      <%= f.label :select_address,  "新しいお届け先" %></br>
    </div>
  </div>

  <div class = "row form-group ml-5">
    <label class = "col-3 ml-2">郵便番号(ハイフンなし)</label>
    <div class = "col-3">
      <%= f.text_field :shipping_postal_code, placeholder: "0000000", class: "form-control" %>
    </div>
  </div>

  <div class = "row form-group ml-5">
    <label class = "col-3 ml-2 ">住所</label>
    <div class = "col-6">
      <%= f.text_field :shipping_address, placeholder: "東京都渋谷区代々木東京都渋谷区代々木神園町0-0", class: "form-control" %>
    </div>
  </div>

  <div class = "row form-group ml-5">
    <label class = "col-3 ml-2">宛名</label>
    <div class = "col-3">
      <%= f.text_field :shipping_name, placeholder: "令和道子",class: "form-control" %>
    </div>
  </div>

  <div class = "row my-5">
    <div class = "offset-5">
      <%= f.submit "確認画面に進む", class: "btn submit px-5 justify-content-center shadow-sm" %>
    </div>
  </div>
  <% end %>
</div>