<div class = "container">
  <div class = "row">
    <div class = "col-2 ">
      <div class="mt-5" >
        <h4 class = "w-auto p-2 text-center" style="background-color: #eee;">ログイン</h4>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-3 offset-1">
      <h6 class = "w-auto p-1 mt-4 text-center" style="background-color: #eee;"><strong>会員の方はこちらからログイン</strong></h6>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render "layouts/error", obj: resource %>

  <div class = "row form-group mt-5">
    <label class = "col-2 offset-2 ">メールアドレス</label>
    <div class="col-5 ">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
    </div>
  </div>

  <div class = "row form-group">
    <label class = "col-2 offset-2 ">パスワード</label>
    <div class="col-5 ">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>


  <div class = "row">
    <div class = "col offset-4 mt-5 ">
      <div class="actions">
        <%= f.submit "ログイン", class: "btn submit px-5 justify-content-center shadow-sm" %>
      </div>
    </div>
  </div>

<% end %>

  <div class = "row">
    <div class = "col-3 offset-1 mt-5 text-center">
      <h6 class="w-auto p-1 mt-3" style="background-color: #eee;"><strong>会員登録がお済みでない方</strong></h6>
    </div>
  </div>
  <div class = "row">
    <div class = "col-5 offset-2 ">
      <p class = "ml-5 mt-3">
        <%= link_to "こちら", new_member_registration_path, class: "badge badge-primary shadow-sm" %>
        から新規登録を行なってください。
      </p>
    </div>
  </div>



</div>